@using WebUniversity.ViewModels;
@using WebUniversity.DataLayer;
@model PaginatedList<GroupViewModel>
@{
    ViewData["Title"] = "Groups";
}
<style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      border: 1px solid black;
      padding: 8px;
    }
    
    caption {
      font-weight: bold;
      margin-bottom: 10px;
    }
  </style>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

 <caption>List of courses</caption>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Id</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CourseIdSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Course Id</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseID)
                </td>
                <td>
                    <a asp-controller="Group" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Group" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="Group" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<ul class="pagination">
    <li class="page-item">
        <a asp-action="Index"
        asp-route-sortOrder="@ViewData["CurrentSort"]"
        asp-route-pageNumber="@(Model.PageIndex - 1)"
        asp-route-currentFilter="@ViewData["CurrentFilter"]"
        class="btn btn-default @prevDisabled"
        class="page-link"
        aria-current="page">
        Previous
        </a>
    </li>

    <li class="@(Model.PageIndex == 1 ? "page-item active " : "page-item")">
        <a asp-action="Index"
        asp-route-sortOrder="@ViewData["CurrentSort"]"
        asp-route-pageNumber="@(1)"
        asp-route-currentFilter="@ViewData["CurrentFilter"]"
        class="page-link"
        aria-current="page">
         1
        </a>
    </li>
    @if (Model.TotalPages > 3 && Model.PageIndex > 3 ) { <p> ... </p> } 


    @if(Model.TotalPages > 3 && Model.PageIndex > 2 && Model.PageIndex < Model.TotalPages)
    {
    <li>
        <a asp-action="Index"
        asp-route-sortOrder="@ViewData["CurrentSort"]"
        asp-route-pageNumber="@(Model.PageIndex - 1)"
        asp-route-currentFilter="@ViewData["CurrentFilter"]"
        class="page-link"
        aria-current="page">
        @(Model.PageIndex - 1)
        </a>
    </li>
    }

    @if(Model.TotalPages > 2){
    <li class="@((Model.PageIndex > 1 && Model.PageIndex < Model.TotalPages) ? "page-item active " : "page-item")">
        <a asp-action="Index"
        asp-route-sortOrder="@ViewData["CurrentSort"]"
        asp-route-pageNumber="@(Model.PageIndex == 1 ? Model.PageIndex + 1 :Model.PageIndex != Model.TotalPages ? Model.PageIndex : Model.TotalPages - 1 )"
        asp-route-currentFilter="@ViewData["CurrentFilter"]"
        class="page-link"
        aria-current="page">
         @(Model.PageIndex == 1 ? Model.PageIndex + 1 :Model.PageIndex != Model.TotalPages ? Model.PageIndex : Model.TotalPages - 1 )
        </a>
    </li>
    }

    @if(Model.TotalPages > 3 && Model.PageIndex < Model.TotalPages - 1 && Model.PageIndex > 1)
    {
    <li>
        <a asp-action="Index"
        asp-route-sortOrder="@ViewData["CurrentSort"]"
        asp-route-pageNumber="@(Model.PageIndex + 1)"
        asp-route-currentFilter="@ViewData["CurrentFilter"]"
        class="page-link"
        aria-current="page">
        @(Model.PageIndex + 1)
        </a>
    </li>
    }

    @if (Model.TotalPages > 3 && Model.PageIndex < Model.TotalPages - 2 ) { <p> ... </p> } 

    @if(Model.TotalPages > 1){
    <li class="@(Model.PageIndex == Model.TotalPages ? "page-item active " : "page-item")">
        <a asp-action="Index"
        asp-route-sortOrder="@ViewData["CurrentSort"]"
        asp-route-pageNumber="@(Model.TotalPages)"
        asp-route-currentFilter="@ViewData["CurrentFilter"]"
        class="page-link"
        aria-current="page">
         @(Model.TotalPages)
        </a>
    </li>
    }

    <li>
        <a asp-action="Index"
            asp-route-sortOrder="@ViewData["CurrentSort"]"
            asp-route-pageNumber="@(Model.PageIndex + 1)"
            asp-route-currentFilter="@ViewData["CurrentFilter"]"
            class="btn btn-default @nextDisabled"
            aria-current="page">
            Next
        </a>
    </li>
</ul>