@model WebUniversity.ViewModels.RegisterViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>Вхід</title>
        <style>
            body {
                display: flex;
                justify-content: center;
                align-items: center;
                heigth: 100vh;
            }
            .Login-form{
                width: 300px;
                top: 200px;
                position: absolute;
                padding: 20px;
                border: 1px solid #ccc;
                border-radius: 5px:
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                margin: auto;
            }
            .text-input{
                width: 100px;
                padding:8px;
                margin-bottom: 10px;
                border:  1px solid #ccc;
                border-radius: 3px;
            }
            .submit-button{
                background-color: #007bff;
                color: white;
                border: none;
                padding 10px 20px;
                border-radius: 3px;
                cursor: pointer;
            }
            .submit-button:hover{
                background-color:#0056b3;
            }
        </style>
    </head>
    <body>
        <div class="Login-form">
            <h1>Authorization</h1>
            @using (Html.BeginForm("TryLog", "Home", FormMethod.Post))
    {
        <div>
            @Html.LabelFor(m => m.Login, "Логін:")
            @Html.TextBoxFor(m => m.Login, new { @class = "text-input", required = "required" })
            @Html.ValidationMessageFor(m => m.Login)
        </div>

        <div>
            @Html.LabelFor(m => m.Password, "Пароль:")
            @Html.TextBoxFor(m => m.Password, new { @class = "text-input", required = "required", type = "password" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>

        <div>
            <input class="submit-button" type="submit" value="Ввійти">
        </div>
    }
        </div>
</body>
</html>